.footer {
  border-top:dashed 2px $zwartman;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.copyright {
  border-top:dashed 2px $zwartman;
  color: white !important;
  border: none;
  font-size: 0.9rem;
}
